.jumbotron {
     background: linear-gradient(0.45turn, #c5aafa, #c7f8ff);
     border-radius: 5px;
}

#servicios p {
	border: 2px;
	border-style: solid;
	border-radius: 8px;

}

.card-fly 
{
	flex: 1 200px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	background: linear-gradient(0.45turn, #c7f8ff, #ebe0ff);
	/*background: linear-gradient(0.30turn, #c7f8ff, #c5aafa);*/
	border-radius: 20px;
}