$pink: #c5aafa;
$cian: #c7f8ff;
$pinky: #ebe0ff;

@mixin margenes($margin, $padding) 
{
	margin-top: $margin;
	margin-left: $margin;
	margin-right: $margin;
	padding: $padding $padding $padding $padding;
}

.jumbotron {
     background: linear-gradient(0.45turn, $pink, $cian);
     border-radius: 5px;
}

#servicios p {
	border: 2px;
	border-style: solid;
	border-radius: 8px;

}

.card-fly 
{
	flex: 1 200px;
	@include margenes(10px, 10px);
}

footer {
	background: linear-gradient(0.45turn, $cian, $pinky);
	/*background: linear-gradient(0.30turn, #c7f8ff, #c5aafa);*/
	border-radius: 20px;
}